# editor cache
*.swp

# OS cache file
.DS_Store
Thumbs.db

# gradle
.gradle/
build/

# GNU GLOBAL
GPATH
GRTAGS
GSYMS
GTAGS

# local setting data
NetworkMapEditor.ini

# execution result data
tick.txt

# screen shots
netmas/screenshots/*
