.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Verdana";
}

.custom-color-pane .toggle-button {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-color: -fx-hover-base;
}

.custom-color-pane .toggle-button:selected {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #0197C9;
    -fx-background-insets: 0 0 -1 0, 0, 1;
}
